<div class="appointment-card earning-card warning overflow-hidden" *ngIf="model">
  <span class="round secondary-round small"></span>
  <span class="round secondary-round big"></span>

  <div class="card-body">
    <div class="appointment-header">
      <h2 style="color: #673ab7">Appointment Details</h2>
      <span class="day-chip">{{ model.dayOfWeek }}</span>
    </div>

    <div class="appointment-body">
      <div class="appointment-item">
        <span class="label">Patient:</span>
        <span class="value">{{ model.patientName }}</span>
      </div>

      <div class="appointment-item">
        <span class="label">Phone Number:</span>
        <span class="value">{{ model.patientPhoneNumber }}</span>
      </div>

      <div class="appointment-item">
        <span class="label">Date:</span>
        <span class="value">{{ model.appointmentDate | date: 'dd-MM-yyyy' }}</span>
      </div>

      <div class="appointment-item">
        <span class="label">Time:</span>
        <span class="value">{{ model.fromTime | slice:0:5 }} - {{ model.toTime | slice:0:5 }}</span>
      </div>


      <div class="appointment-item">
        <span class="label">Address:</span>
        <span class="value">{{ model.addressName }}</span>
      </div>



      <div class="appointment-item notes" *ngIf="model.notes">
        <span class="label">Notes:</span>
        <p class="note-text">{{ model.notes }}</p>

      </div>

      <div class=" appointment-item">
        <label class="label">Status:</label>
        <p class="note-text">{{ selectedStatus }}</p>
      </div>


    </div>
  </div>


  <div class=" appointment-footer">
    <button class="btn-back" (click)="back()">
      <span class="material-icons">arrow_back</span>
      Back
    </button>
  </div>



  <div class="mb-3 d-flex align-items-center" *ngIf="getAllowedActions().length > 0">


    <button *ngFor="let action of getAllowedActions()" class="btn me-2 d-flex align-items-center justify-content-center"
      [ngStyle]="{
            'background-color': action === 'Completed' ? '#28a745' :
                                action === 'Confirmed' ? '#673ab7' :
                                action === 'Cancelled' ? '#dc3545' : '#6c757d',
            'color': 'white',
            'border-radius': '5px',
            'padding': '6px 12px',
            'font-weight': '500'
          }" (click)="changeStatus(action)">

      <span style="margin-right: 5px; font-size: 16px;">
        {{ action === 'Cancelled' ? '✕' : '✓' }}
      </span>
      {{ action }}
    </button>
  </div>


</div>