<div class="appointment-card earning-card warning overflow-hidden " *ngIf="model">
  <span class="round secondary-round small"></span>
  <span class="round secondary-round big"></span>

  <div class="card-body">
    <div class="appointment-header">
      <h2 style="color: #673ab7">Appointment Details</h2>
      <span class="day-chip">{{ model.dayOfWeek }}</span>
    </div>

    <div class="appointment-body">
      <div class="appointment-item">
        <span class="label">Patient:</span>
        <span class="value">{{ model.patientName }}</span>
      </div>

      <div class="appointment-item">
        <span class="label">Date:</span>
        <span class="value">{{ model.appointmentDate | date: 'dd-MM-yyyy' }}</span>
      </div>

      <div class="appointment-item">
        <span class="label">Time:</span>
        <span class="value">{{ model.fromTime | slice:0:5 }} - {{ model.toTime | slice:0:5 }}</span>
      </div>


      <div class="appointment-item">
        <span class="label">Address:</span>
        <span class="value">{{ model.addressName }}</span>
      </div>

      <div class="appointment-item notes" *ngIf="model.notes">
        <span class="label">Notes:</span>
        <p class="note-text">{{ model.notes }}</p>
      </div>

      <div class="mb-3 d-flex align-items-center  ">
        <label for="statusDropdown" class="label" style="color: gray;margin-right: 10px;">Status:</label>
        <select id="statusDropdown" class="form-select" [(ngModel)]=" selectedStatus">
          <option *ngFor="let status of statusOptions" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>


    </div>
  </div>


  <div class=" appointment-footer">
    <button class="btn-back" (click)="back()">
      <span class="material-icons">arrow_back</span>
      Back
    </button>
  </div>


</div>