<!--asfasd-->
<div class="ms-auto ">


  <!---->
  <ul class="list-unstyled ">

    <li>
      <div class="dropdown pc-h-item" ngbDropdown>
        <a class="pc-head-link head-link-secondary arrow-none me-0 position-relative d-inline-flex align-items-center"
          href="javascript:" ngbDropdownToggle>
          <span class="material-icons language-icon">language</span>
          <span class="tooltip-text"> {{ 'LANGUAGE.TITLE' | translate }} </span>
        </a>

        <div class="dropdown-menu dropdown-menu-start pc-h-dropdown" ngbDropdownMenu>
          <ul class="list-unstyled m-0 p-2">
            <li>
              <button class="dropdown-item" [ngClass]="{ 'active-lang': currentLang === 'en' }"
                (click)="switchLang('en')">English</button>
            </li>
            <li>
              <button class="dropdown-item" [ngClass]="{ 'active-lang': currentLang === 'ar' }"
                (click)="switchLang('ar')">العربية</button>
            </li>
          </ul>
        </div>
      </div>
    </li>



    <!--style="background-color: rgb(224.4, 207.2, 252.4);color: #673ab7;border: none;"
    -->



    <!-- <li>
      <div class="dropdown pc-h-item">
        <a class="pc-head-link head-link-primary arrow-none me-0 position-relative"
          href="https://github.com/codedthemes/berry-free-angular-admin-template/" target="_blank">
          <div class="position-relative d-inline-flex align-items-center">
            <i class="ti ti-brand-github" style="font-size: 24px;"></i>
            نص يظهر عند hover
            <span class="github-tooltip">{{ 'GITHUB.TITLE' | translate }}</span>
          </div>
        </a>
      </div>
    </li> -->



    <!--Notification-->

    <li>

      <div class="dropdown pc-h-item" ngbDropdown>

        <a class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0 position-relative" href="javascript:"
          ngbDropdownToggle>
          <div class="position-relative d-inline-block">
            <i class="ti ti-bell" style="font-size: 24px;"></i>
            <span class="badge rounded-pill" *ngIf="unSeenRecords > 0">{{ unSeenRecords }}</span>
            <!-- أضف tooltip بدلاً من ظهور النص داخل hover -->
            <span class="notification-tooltip">{{ 'NOTIFICATIONS.TITLE' | translate }}</span>
          </div>
        </a>


        <div class="dropdown-menu dropdown-notification dropdown-menu-start pc-h-dropdown" ngbDropdownMenu>

          <div class="dropdown-header justify-content-between d-flex align-items-center px-3">
            <h4> {{ 'NOTIFICATIONS.TITLE' | translate }}</h4>
            <h5>

              <span class="badge rounded-pill ms-1" style="background-color: #673ab7; color: white;"
                *ngIf="notifications?.length">{{ notifications.length }}</span>
            </h5>
          </div>

          <ng-scrollbar style="height: calc(100vh - 215px)" visibility="hover">
            <div class="dropdown-header px-0 text-wrap">
              <div class="list-group list-group-flush w-100">
                <!-- إشعارات ديناميكية -->
                <ng-container *ngIf="notifications?.length; else noNotifications">
                  <a class="list-group-item list-group-item-action" *ngFor="let notify of notifications"
                    (click)="openNotification(notify)" [ngClass]="{'bg-light-secondary': !notify.isSeen}">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <div class="user-avtar bg-light-primary">
                          <i class="ti ti-bell"></i>
                        </div>
                      </div>
                      <div class="flex-grow-1 mx-3">
                        <span class="float-start">{{ notify.mainText }}</span>
                        <span class="float-start">{{ notify.dateTime }}</span>
                        <span class="float-start">{{ notify.place }}</span>
                        <p class=" float-start text-muted">{{ notify.displayTime }}</p>

                      </div>
                    </div>
                  </a>
                </ng-container>

                <!-- حالة عدم وجود إشعارات -->
                <ng-template #noNotifications>
                  <div class="list-group-item text-center text-muted">
                    {{ 'NOTIFICATIONS.NO_NOTIFICATIONS' | translate }}
                  </div>
                </ng-template>

              </div>
            </div>
          </ng-scrollbar>

          <div class="dropdown-divider"></div>
          <div class="text-center py-2">
            <a href="javascript:" class="link-primary" (click)="markAllAsRead()">
              {{ 'NOTIFICATIONS.MARK_ALL_READ' | translate }}
            </a>
          </div>

        </div>

      </div>
    </li>







    <!--end Notification  -->


    <li>
      <div class="dropdown pc-h-item header-user-profile  " ngbDropdown>
        <a class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0" href="javascript:" ngbDropdownToggle>
          <img *ngIf="profileImageUrl" [src]="getImageUrl(profileImageUrl)" alt="Profile Image" class="user-avtar"
            style="width: 40px; height: 40px;" />
          <span><i class="ti ti-settings"></i></span>
          <span class="settings-tooltip">
            {{ 'SETTINGS.TITLE' | translate }}
          </span>
        </a>

        <div class="dropdown-menu dropdown-user-profile dropdown-menu-start pc-h-dropdown " ngbDropdownMenu>
          <div class="dropdown-header">

            <h4>
              {{ 'SETTINGS.GOOD_MORNING' | translate }},
              <span class="small text-muted">{{ doctorname }}</span>
            </h4>

            <ng-scrollbar visibility="hover">

              <!-- <div class="upgradeplan-block bg-light-warning rounded">
                <h4>{{ 'SETTINGS.UPGRADE_TITLE' | translate }}</h4>
                <p class="text-muted">{{ 'SETTINGS.UPGRADE_DESCRIPTION' | translate }}</p>
                <a href="https://codedthemes.com/item/berry-angular-admin-dashboard-template/" target="_blank"
                  class="btn btn-warning">
                  {{ 'SETTINGS.UPGRADE_BUTTON' | translate }}
                </a>
              </div>

              <hr />

              <div class="settings-block bg-light-primary rounded">
                <div class="form-check form-switch d-flex justify-content-between">
                  <input class="form-check-input" type="checkbox" role="switch" id="dndSwitch" />
                  <label class="form-check-label" for="dndSwitch">
                    {{ 'SETTINGS.START_DND' | translate }}
                  </label>
                </div>

                <div class="form-check form-switch d-flex justify-content-between">
                  <input class="form-check-input" type="checkbox" role="switch" id="notifySwitch" checked />
                  <label class="form-check-label" for="notifySwitch">
                    {{ 'SETTINGS.ALLOW_NOTIFICATIONS' | translate }}
                  </label>
                </div>
              </div> -->

              <hr />

              <!-- <a [routerLink]="['/register']" class="dropdown-item">
                <i class="ti ti-settings mx-2"></i>
                <span>{{ 'SETTINGS.ACCOUNT_PROFILE' | translate }}</span>
              </a> -->

              <!-- <a href="profile" class="dropdown-item">
                <i class="ti ti-user mx-2"></i>
                <span>{{ 'SETTINGS.SOCIAL_PROFILE' | translate }}</span>
              </a> -->

              <a [routerLink]="['/login']" (click)="logout($event)" class="dropdown-item">
                <i class="ti ti-logout mx-2"></i>
                <span>{{ 'SETTINGS.LOGOUT' | translate }}</span>
              </a>

            </ng-scrollbar>



          </div>
        </div>
      </div>
    </li>




  </ul>
</div>