.me-0 {
  margin: 0 0 0 16px !important;
}
/* Fix dropdown position in RTL */
.dropdown-item.active-lang {
  //background-color: #e0e0e0; /* رمادي فاتح */
  color: gray; /* لون النص */
  font-weight: 600;
}

.notification-tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #673ab7;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.8rem;
  z-index: 100;
  margin-top: 20px;
}

.pc-head-link:hover .notification-tooltip {
  display: block;
}

.github-tooltip {
  display: none;
  position: absolute;
  top: 100%; /* يظهر تحت الأيقونة */
  left: 50%;
  transform: translateX(-50%);
  background-color: #2196f3;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.8rem;
  z-index: 100;
  margin-top: 20px;
}

.pc-head-link:hover .github-tooltip {
  display: block;
}

.pc-head-link {
  position: relative; /* مهم */
  display: inline-flex;
  align-items: center;
}

.tooltip-text {
  position: absolute;
  bottom: -40px; /* مسافة تحت الأيقونة */
  left: 50%;
  transform: translateX(-50%);
  background-color: #673ab7;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1000;
}

.pc-head-link:hover .tooltip-text {
  opacity: 1;
}
