body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.topbar h2 {
  margin: 0;
  font-size: 20px;
}
.container {
  display: flex;
  gap: 30px;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
}
.sidebar {
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: 50%;
}

.sidebar img {
  border: 3px solid #6f42c1;
  transition: transform 0.3s;
}

.sidebar img:hover {
  transform: scale(1.05);
}

.sidebar .btn {
  background-color: #6f42c1;
  border: none;
  width: 100%;
}

.sidebar .btn:hover {
  background-color: #56329a;
}

.profile-pic {
  width: 120px;
  height: 120px;
  background: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 20px auto;
}
.content {
  flex: 1;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 0.25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.label {
  font-size: 12px;
  font-weight: bold;
  color: #555;
}
.value {
  font-size: 14px;
  color: #000;
  margin-top: 3px;
}

.nav-tabs {
  border-bottom: none !important;
}
body.berry-dark .nav-tabs .nav-link,
body.berry-dark .tab-content {
  box-shadow: none !important;
  background: none !important;
}

.total-income-card {
  .avatar {
    background: #1565c0;
  }
}

// .earning-card {
//   .round {
//     &.secondary-round {
//       background: #4527a0;
//     }
//     &.primary-round {
//       background: #1565c0;
//     }
//   }
// }

// [dir='rtl'] .earning-card .round.secondary-round.small {
//   right: auto;
//   left: 10px;
// }

// [dir='rtl'] .earning-card .round.secondary-round.big {
//   right: auto;
//   left: 40px;
// }
