/* Hover effect for Claim cards */
.card.claim-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.card.claim-card:hover {
  transform: translateY(-5px) scale(1.03); /* رفع + تكبير بسيط */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow أعمق */
}
