/* Base style لكل الأزرار */
.btn-search,
.btn-cancel-day {
  border: none;
  color: white;
  padding: 8px 22px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.98);
  }
}

/* لون زر البحث */
.btn-search {
  background: linear-gradient(45deg, #673ab7, #512da8);
}

/* لون زر إلغاء يوم محدد */
.btn-cancel-day {
  background: linear-gradient(45deg, #e53935, #b71c1c);
}

.earning-card {
  .round {
    &.secondary-round {
      background: #4527a0;
    }
    &.primary-round {
      background: #1565c0;
    }
  }
}
