<div class="card w-100 shadow-sm border-0 p-4">

  <div class="doctor-header mb-4">
    <div class="d-flex align-items-center header-title">
      <i class="ti ti-calendar-time icon-animate"></i>
      <h2 class="mb-0">Select Appointment Dates to Cancel</h2>
    </div>
    <div class="subtitle">Choose the date you want to cancel from the list below</div>
  </div>




  <div class="accordion" id="availabilitiesAccordion">
    <div *ngFor="let a of appointments; let appointmentIndex = index" class="accordion-item mb-3 shadow-sm border-0">

      <!-- Outer Accordion Header -->
      <h2 class="accordion-header" [id]="'heading-' + appointmentIndex">
        <button class="accordion-button" type="button" [class.collapsed]="openedOuterIndex !== appointmentIndex"
          (click)="toggleOuter(appointmentIndex)" [attr.aria-expanded]="openedOuterIndex === appointmentIndex"
          style="background-color: rgb(224, 215, 240); color: #673ab7">
          <i class="ti ti-map-pin text-primary me-2"></i>
          {{ a.addressName }}
        </button>
      </h2>

      <!-- Outer Accordion Body -->
      <div class="accordion-collapse collapse" [class.show]="openedOuterIndex === appointmentIndex">

        <div class="accordion-body">

          <!-- Inner Accordion -->
          <div class="accordion" [id]="'innerAccordion-' + appointmentIndex">
            <div *ngFor="let group of a.groupedItems | keyvalue; let groupedIndex = index" class="accordion-item mt-2">

              <!-- Inner Accordion Header -->
              <h2 class="accordion-header" [id]="'inner-heading-' + appointmentIndex + '-' + groupedIndex">
                <button class="accordion-button" type="button"
                  [class.collapsed]="openedInnerIndex[appointmentIndex] !== groupedIndex"
                  (click)="toggleInner(appointmentIndex, groupedIndex)"
                  [attr.aria-expanded]="openedInnerIndex[appointmentIndex] === groupedIndex"
                  style="background-color: rgb(224, 207, 252)">
                  {{ group.key }}
                  <strong class="text-muted ms-2">
                    <i class="bi bi-calendar me-2"></i>

                  </strong>
                </button>
              </h2>

              <!-- Inner Accordion Body -->
              <div [id]="'inner-collapse-' + appointmentIndex + '-' + groupedIndex" class="accordion-collapse collapse"
                [class.show]="openedInnerIndex[appointmentIndex] === groupedIndex">
                <div class="accordion-body">


                  <div class="row g-3">
                    <ng-container *ngFor="let t of group.value">
                      <div class="col-4">
                        <div class="border rounded shadow-sm p-3 bg-light time-card text-center"
                          [class.selected]="isSelected(t)" (click)="selectDate(t)" style="cursor: pointer;">
                          <i class="bi bi-calendar me-2"></i>
                          {{ t.appointmentDate | date:'dd/MM/yyyy' }}

                        </div>
                      </div>
                    </ng-container>
                  </div>


                </div>
              </div>
              <!-- End Inner Accordion Body -->

            </div>
          </div>
          <!-- End Inner Accordion -->

        </div>
      </div>
      <!-- End Outer Accordion Body -->

    </div>
  </div>

</div>