.doctor-header {
  padding: 10px 0;

  .header-title {
    h2 {
      color: #673ab7;
      margin: 0;
      font-weight: 600;
      transition: color 0.3s ease-in-out;
    }

    .icon-animate {
      font-size: 32px;
      margin-right: 10px;
      color: #673ab7;
      transition:
        transform 0.4s ease,
        color 0.3s ease;
    }

    &:hover .icon-animate {
      transform: rotate(-15deg) scale(1.1);
      color: #512da8;
    }

    &:hover h4 {
      color: #512da8;
    }
  }

  .subtitle {
    margin-top: 10px;
    color: gray;
    margin-top: 3px;
    font-size: 14px;
  }
}

.time-card.selected {
  background-color: #673ab7 !important;
  color: #fff !important;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(103, 58, 183, 0.5);

  i {
    color: #fff !important;
  }
}
