<div class="card total-income-card  overflow-hidden p-4">

  <!-- عنوان القسم -->
  <div class="doctor-header d-flex  align-items-center m-2">
    <div class="d-flex flex-column">
      <div class="d-flex  header-title">

        <i class="ti ti-star icon-animate mb-3" style="font-size: 25px; color: #673ab7;"></i>
        <h2 class="mb-3 mx-2">
          {{ 'REVIEWS.TITLE' | translate }}
        </h2>
      </div>

    </div>



    <span *ngFor="let star of [1,2,3,4,5]" class="mx-2">
      <mat-icon [style.color]="star <= totalRating ? 'gold' : '#ccc'">star</mat-icon>
    </span>

    <!-- عرض الرقم بجانبها -->
    <span class="mx-2 text-muted">({{ totalRating }}/5)</span>
  </div>

  <!-- جدول المراجعات -->
  <app-generic-table [_headers]="headers" [_items]="reviews" [_actions]="tableActions"
    (actionClicked)="handleAction($event)" (pageChange)="onPageChange($event)" [pageSize]="reviewsPagination.pageSize"
    [totalRecords]="reviewsPagination.totalRecords" [pageIndex]="reviewsPagination.pageIndex" class="mt-4"
    *ngIf="reviews?.length > 0">
  </app-generic-table>

  <!-- رسالة عند عدم وجود مراجعات -->
  <div *ngIf="reviews?.length === 0" class="text-center text-muted mt-3">
    {{ 'REVIEWS.NO_REVIEWS' | translate }}
  </div>
</div>