<div class="earning-card warning overflow-hidden rounded">
  <div class="card total-income-card  overflow-hidden p-4">
    <form [formGroup]="ticketForm" (ngSubmit)="submit()">



      <!-- عنوان القسم -->
      <div class="doctor-header d-flex  align-items-center m-2">
        <div class="d-flex flex-column">
          <div class="d-flex  header-title">

            <i class="ti ti-ticket icon-animate mb-3" style="font-size: 25px; color: #673ab7;"></i>
            <h2 class="mb-3 mx-2">
              {{ 'TICKETS.CREATE_TITLE' | translate }}
            </h2>
          </div>

        </div>

      </div>



      <div class="row">
        <!-- Title -->
        <div class="row mb-3 align-items-center">

          <label class="col-md-2 col-form-label">{{ 'TICKETS.TITLE' | translate }}</label>

          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="title"
              [placeholder]="'TICKETS.PLACEHOLDERS.TITLE' | translate" />
            <app-validation-error [form]="ticketForm" controlName="title">
            </app-validation-error>
          </div>

        </div>


        <!-- <div class="col-md-6 mb-3" hidden>
          <label class="form-label">Ticket Type</label>
          <input type="text" class="form-control" [value]="patientId ? 'To Patient' : 'To Admin'" readonly />
        </div> -->



        <!-- Description -->
        <div class="row mb-3 align-items-start">

          <label class="col-md-2 col-form-label"> {{ 'TICKETS.DESCRIPTION' | translate }}</label>

          <div class="col-md-10">
            <textarea class="form-control" rows="4" formControlName="description"
              [placeholder]="'TICKETS.PLACEHOLDERS.DESCRIPTION' | translate">
            </textarea>
            <app-validation-error [form]="ticketForm" controlName="description"></app-validation-error>
          </div>

        </div>

        <!-- Patient (Readonly if from route) -->
        <div class=" mb-3" *ngIf="patientId" hidden>
          <label class="form-label">Patient ID</label>
          <input type="text" class="form-control" formControlName="targetUserId" readonly />
        </div>
      </div>

      <!-- Actions -->
      <div class="d-flex justify-content-end gap-2">
        <button class="btn btn-save" type="submit" [disabled]="ticketForm.invalid">
          <span> <i class="ti ti-send me-1"></i>
            {{ 'TICKETS.SUBMIT' | translate }}</span>
        </button>
      </div>





    </form>

  </div>
</div>