<div class="col-xl-12 col-md-12">
  <div class="card total-income-card overflow-hidden">
    <div class="card-body">
      <div class="align-items-start">
        <!-- أيقونة الavatar -->
        <div class="doctor-header d-flex justify-content-between align-items-center m-2">
          <div class="d-flex flex-column">
            <div class="d-flex header-title">
              <div class="avatar avatar-lg me-4">
                <i class="text-white ti ti-layout-board-split f-24"></i>
              </div>
              <h2 class="mt-2" style="padding-right: 10px !important">{{ 'PAYROLL.TITLE' | translate }}</h2>
            </div>
          </div>
        </div>

        <!-- الفورم -->
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="payrolForm" (ngSubmit)="search()" class="row g-5 flex-grow-1">
              <div class="col-md-3">
                <label class="form-label">{{ 'PAYROLL.FROM_DATE' | translate }}</label>
                <input type="date" class="form-control" formControlName="fromDate" />
              </div>

              <div class="col-md-3">
                <label class="form-label">{{ 'PAYROLL.TO_DATE' | translate }}</label>
                <input type="date" class="form-control" formControlName="toDate" />
              </div>

              <div class="col-md-2 d-flex align-items-end">
                <button class="btn btn-save mt-3" type="submit" [disabled]="payrolForm.invalid">
                  {{ 'PAYROLL.SEARCH' | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 col-md-6" *ngIf="hasPermission(DoctorClaims.PayrolEarning)">
    <div class="card earning-card bg-secondary-dark text-white overflow-hidden">
      <span class="round secondary-round small"></span>
      <span class="round secondary-round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avatar avatar-lg">
              <i class="text-white ti ti-credit-card f-24"></i>
            </div>
          </div>
        </div>

        <div class="mt-2">
          <span class="opacity-50 me-2">
            {{ totalPayroll | currency: 'EGP' : 'symbol' : '1.0-0' }}
            <i class="ti ti-circle-arrow-up-right opacity-50"></i>
          </span>
          <p class="mb-0 opacity-50">{{ 'PAYROLL.TOTAL_EARNING' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-md-6">
    <div class="card earning-card bg-primary-dark text-white overflow-hidden">
      <span class="round primary-round small"></span>
      <span class="round primary-round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avatar avatar-lg">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>

          <div class="mt-2">
            <h4 class="mb-0 opacity-50">{{ totalRecords }}</h4>
            <p class="mb-0 opacity-50">{{ 'PAYROLL.TOTAL_APPOINTMENTS' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--table -->
  <div class="col-xl-12 col-md-12 mt-4">
    <div class="card  overflow-hidden shadow-sm border-0">
      <div class="card-body ">
        <!-- Header -->
        <!-- <div class="d-flex justify-content-between align-items-center p-4 rounded border-0 payroll-header">
          <h5 class="mb-0 text-white">{{ 'PAYROLL.DETAILS_TITLE' | translate }}</h5>
          <div class="fw-bold text-white">
            {{ totalPayroll | currency: 'EGP' : 'symbol' : '1.0-0' }}
          </div>
        </div> -->

        <!-- Table
        <div class="table-responsive">
          <table class="table payroll-table mb-0 align-middle">
            <thead>
              <tr>
                <th></th>
                <th>{{ 'PAYROLL.TABLE.PATIENT_NAME' | translate }}</th>
                <th>{{ 'PAYROLL.TABLE.CATEGORY_HEADER' | translate }}</th>
                <th>{{ 'PAYROLL.TABLE.PRICE' | translate }}</th>
                <th>{{ 'PAYROLL.TABLE.APPOINTMENT_DATE' | translate }}</th>
              </tr>
            </thead>

            <tbody class="payroll-body">
              <tr *ngFor="let item of payrollItems; let i = index" class="payroll-row">
                <td class="index" style="color: #673ab7; background-color: white">{{ i + 1 }}</td>
                <td class="patient" style="color: #673ab7; background-color: white">{{ item.patientName }}</td>

                <td class="category" style="color: #673ab7; background-color: white">
                  {{ 'PAYROLL.TABLE.CATEGORY.' + getCategoryKey(item.category) | translate }}
                </td>

                <td class="price" style="color: #673ab7; background-color: white">
                  <span *ngIf="item.price" class="value">
                    {{ item.price | currency: 'EGP' : 'symbol' : '1.0-0' }}
                  </span>
                  <span *ngIf="!item.price" class="empty">—</span>
                </td>
                <td class="date" style="color: #673ab7; background-color: white">
                  {{ item.appointmentDate | date: 'yyyy-MM-dd' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->



        <!--generic table-->

        <app-generic-table [_headers]="headers" [_items]="payrollItems" (pageChange)="onPageChange($event)"
          [pageSize]="pagenation.pageSize" [totalRecords]="pagenation.totalRecords"
          [pageIndex]="pagenation.pageIndex"></app-generic-table>


        <!-- Footer -->
        <!-- <div class="payroll-footer px-4 py-3">
          <span>{{ 'PAYROLL.TOTAL_RECORDS' | translate }} : {{ totalRecords }}</span>
          <span>{{'PAYROLL.TOTAL_PAYROLL'|translate}}: {{ totalPayroll | currency:'EGP':'symbol':'1.0-0'
            }}</span>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-xl-8 col-md-12">
  <app-bar-chart />
</div> -->

<!-- <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>Popular Stocks</h4>
          </div>
          <div class="col-auto"></div>
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Bajaj Finery</h5>
                <small class="text-muted">10% Profit</small>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">$1839.00</h4>
              </div>
            </div>
          </div>
          <app-bajaj-chart />
        </div>
        <ul class="list-group list-group-flush">
          @for (list of ListGroup; track list) {
          <li class="list-group-item px-0 {{ list.space }}">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mb-0">{{ list.name }}</h5>
                <small class="{{ list.color }}">{{ list.profit }}</small>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">
                  {{ list.invest }}
                  <span class="ms-2 align-top avatar avatar-xxs {{ list.bgColor }}">
                    <i class="{{ list.icon }} {{ list.color }}"></i>
                  </span>
                </h4>
              </div>
            </div>
          </li>
          }
        </ul>
        <div class="text-center">
          <a href="javascript:" class="b-b-primary text-primary f-w-500">
            View all
            <i class="ti ti-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div> -->
